#ui
	#content
		position: absolute
		top: 0px
		left: 250px
		bottom: 0px
		right: 0px
		padding: 20px
		overflow-y: scroll
		> *
			width: 100%

		#breadcrumb
			+no-margin-padding
			margin: 10px
			list-style-type: none
			li
				+no-margin-padding
				display: inline-block
				&:not(:first-child)::before
					font-family: FontAwesome
					content: '\f054 '
					font-size: 12px
					margin: 0px 5px
		table#results
			margin-top: 20px
			font-size: 14px
			line-height: 24px
			border-collapse: collapse
			th, td
				padding: 5px
				border: 1px solid #aaa
			td
				vertical-align: top
			tr pre
				+no-margin-padding
				overflow: hidden
				max-height: 48px
			tr.toggled pre
				max-height: inherit
