#ui
	#left-pane
		position: absolute
		top: 0px
		bottom: 0px
		left: 0px
		width: 240px
		background: #ccc
		border-right: 2px solid #aaa
		> *
			width: 100%
			margin: 10px 0px
			padding: 0px 10px
		hr
			+no-margin-padding
		h1, h2
		h1
			font-size: 24px
		h2
			font-size: 18px
		#db-select
			+clear-form-control
			background: #c0c0c0
			padding: 10px
			font-size: 14px
			cursor: pointer
			border: 2px solid #aaa
			border-width: 2px 0px 2px 0px
		#collections
			padding: 0px
			background: #d0d0d0
			border: 2px solid #aaa
			border-width: 2px 0px 2px 0px
			list-style-type: none
			li
				padding: 5px 10px
				cursor: pointer
				&:hover, &.active
					background: #c0c0c0
